body{
    background-color: rgb(43, 42, 42);
    color: lightgray;
    background-image: url("../catwomen/images/catwomen12.png");
}

h1{
    font-size: 400%;
    color: lavender;
    text-shadow: 4px 4px 4px red;
    margin: 2%;
}

.movies a:link{color:black}
.movies a:hover, a:focus{color: red;}
a:visited{color: lightblue;}
.movies img{ float: right;}
.movies h2{
    text-align: center;
    margin-top: 1%;
}
#movies{
    margin-left: 3%;
    margin-bottom: 3%;
    width: 700px;
    color: black;
    border: 2px solid;
    border-color: black;
    border-radius: 25px;
    background-image: linear-gradient(to right, lightgray 0%, black 100%);
    padding: 2%;
}

.places{
    margin-left: 3%;
    margin-left: 5%;
    width: 700px;
    color: black;
    border: 2px solid;
    border-color: black;
    border-radius: 25px;
    background-image: linear-gradient(to right, rgb(138, 127, 156) 0%, black 100%);
    padding: 3%;
    
}
.places img{
    float: left;
}
.places h2{
    margin-left: 125px;
    border: 2px solid;
}
.places h3{margin-left: 150px;}