
body{
	background-color: black;
	background-image: url("../images/catWomen6.png");
	background-repeat: no-repeat;
	margin: .5em 1em;
	 
 }

h1{
	font-family: Monaco,monospace;
	color: white;
	font-size: 300%;
	
	text-align: center;
}

main{
	font-family: Lucida Handwriting;
	color: white;
}
ul{
	color:whitesmoke;
	font-family: Monaco,monospace;
	list-style-type: none;
}
footer{
	
	font-family: Monaco,monospace;
	color: white;
	
	text-align: center;
	
}

